body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e1e1;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 1.7%;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header h1 {
    /* float: left; */
    text-align: center;
  }
  header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .button{

    /* margin-left: 300px; */
    text-align: center;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  a{
    
    margin-top: 2.9%;
    text-align: center;
    top: 5px;
    color: #fff;
    text-decoration: none;
  }
  .photo{

    

  }
  section{

    margin-top: 30px;
    border: 2px;
    display: flex;

  }
  .showcase{

    background-color: #333;


  }
  img{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 800px;
    height: auto;
    border: 1px white solid;
  }
  h1{

    float: right;
    color: #fff;

  }
.editata{

    margin-top: 5px;
    width: 800px;
    margin-left: 5px;
    margin-right: 5px;
    height: 1000px;
    border: 1px white solid;
  }