<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="/static/about.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>About Me</h1>
        <div>
        <a href="/" class="button"> Home</a>
        <a href="galerie" class="button"> Gallery</a>
    </div>
    </div>
  </header> 
  <main>
    <section id="intro">
      <div class="container">
        <h2>Introduction</h2>
        <div class="content">
            I am a soul fueled by creativity, constantly lost in the realms of imagination. The darkness holds a certain allure to me, akin to a delicate dance with shadows. With sensitivity as my guide, I navigate the intricate landscapes of my emotions. Mathematics is my language of logic, while programming and technology serve as my tools to manifest my visions into reality.
        </div>
        <div class = "content">
            In the symphony of sounds, both rock music and techno rhythms resonate deeply within me, stirring my essence. Art is my sanctuary, where I express myself freely through drawing, painting, and digital creations. Every form of artistic expression captivates me, leaving me in awe of its boundless possibilities.
        </div>
        <div class = "content">
            My signature lies in infusing my artwork with a touch of uniqueness, a reflection of my individuality amidst the vast canvas of creativity.
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <h2>Contact Me</h2>
        <div class="content">
          pirsan.victoria@yahoo.com
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <p>&copy; 2024 Victoria Pirsan</p>
    </div>
  </footer>
</body>
</html>