<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/static/galerie.css">
</head>
<body>
    <script src="/static/galerie.js"></script>
    <header>
        <div class = "container"> 

            <h1>Gallery</h1>
            <div>
            <a href="/" class="button"> Home</a>
            <a href="about" class="button"> About me</a>
            </div>
        </div>
    </header>   
    <!-- <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/6F08nr3/teddyrender-produs-final.png" alt="teddybear">
            <h1>The artwork in Blender that brought me the first place on a national competition named "The informatics between science and art"</h1>
        </div>
    </section> -->
    <section class="showcase" data-photo-id="1">
        <div class="photo">
            <iframe src="https://www.youtube.com/embed/limN8Rl4_nI" frameborder="0" allowfullscreen></iframe>
            <h1>My first artwork using Blender</h1>
        </div>
    </section>
    <section class="showcase" data-photo-id="1">
        <div class="photo">
            <img src="https://i.ibb.co/6F08nr3/teddyrender-produs-final.png" alt="teddybear">
            <h1>The artwork in Blender that brought me the first place on a national competition named "The informatics between science and art"</h1>

        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/vLNGmqz/earth-render-bun-xd.png" alt="greenplanet">
            <h1>A badge I created for the well known project Erasmus - 'Recycling makes the world go round'</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/FgPRscm/donut-frames.jpg" alt="blender">
            <h1>My first artwork using Blender</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/nr6K61B/Photoshop-digital-art.jpg" alt="goth">
            <h1>My first artwork in Photoshop</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/N2bmCC4/Photoshop-pixel-art-1.png" alt="pixel">
            <h1>Pixel art icon</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/QvSxwqT/Screenshot-2024-03-07-213203.png" alt="bratara">
            <h1>The design of a festival bracelet</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img class = "editata" src="https://i.ibb.co/xhwQXsW/upper-body.png" alt="eminescu">
            <h1>A sketch I made for a video game character</h1>
        </div>
    </section>
    <section class="showcase">
        <div class = "photo">
            <img src="https://i.ibb.co/Wt9N6kb/banner.png" alt="christmas">
            <h1>Christmas banner</h1>
        </div>
    </section>
    
</body>
</html>

