<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/static/galerie.css">
</head>
<body>
    <header>
        <div class = "container"> 

            <h1>Gallery</h1>
            <div>
            <a href="/" class="button"> Home</a>
            <a href="feedback" class="button"> Feedback</a>
            <a href="about" class="button"> About me</a>
            </div>
        </div>
    </header>   
    <section class="showcase">
        <div class = "photo">
            <img src="/images/teddyrender - produs final.png" alt="teddsybear">
            <img src="/images/donut-frames.jpg" alt="sal">
        </div>
    </section>
    
</body>
</html>