<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" type= "text/css" href="/static/homestyle.css">

</head>
<body>
  <header>
    <div class="container">
      <h1>Victoria's Portfolio</h1>
    </div>
  </header>

  <section id="section1">
    <div class="container">
      <h2>Gallery</h2>
      <p>Here you can see my art projects.</p>
      <!-- <button onclick="redirectToGallery()">Go to Gallery</button> -->
      <a href="galerie"><button>Go to Gallery</button></a>
      <!-- <button href = "galerie.html">Go to Gallery</button> -->
    </div>
  </section>

  <section id="section2">
    <div class="container">
      <h2>About me</h2>
      <p>See more about me.</p>
      <a href="about"><button>Go to About</button></a>
    </div>
  </section>
</body>
</html>
